{%- if cookiecutter.open_source_license in license_classifiers %}
include LICENSE
{%- endif %}
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md *.rst conf.py Makefile make.bat
